setup_structure.bat
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage*
dist/
build/

# Entornos
.venv/
.env
.env.*.local

# Logs
logs/
*.log

# VS Code
.vscode/*.log
.vscode/.ropeproject

# SO
Thumbs.db
.DS_Store
